<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>EntryHistory</title>
</head>
<body>
<label></label>
<form method="POST" th:action="@{/history}" th:object="${key}">
    <label >show history</label>
    <input type="text" th:field="${key}"/>
    <br/>
    <input type="submit" value="show"/>
</form>
<div>
    <label>History key: </label>
    <span th:text="${entryHistory.key}"></span>
    <div th:each="value : ${entryHistory.values}">
        <span th:text="${value}"></span>
    </div>
</div>
</body>
</html>