<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>EntryHistory</title>
</head>
<body>
<label></label>
<div>
    <label>History key: </label>
    <span th:text="${entry.key}"></span>
    <br/>
    <label>Current value: </label>
    <span th:text="${entry.value}"></span>
    <span th:text="${entry.changed}"></span>
    <br/>
    <label>Previous values: </label>
    <div th:each="value : ${entryHistory.values}">
        <span th:text="${value.value}"></span>
        <span th:text="${value.created}"></span>
        <br/>
    </div>
    <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
</div>
</body>
</html>